.search {
  background-color: #000;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #7e8bd4;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button {
  padding: 0.8rem;
  border-radius: 3px;
  border: none;
  color: #171c3a;
}

.search_container button {
  background-color: #151515;
  cursor: pointer;
}
