.app {
  max-width: 500px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  margin-right: 10px;
  font-size: 35px;
}
